* {
    margin: 0;
    padding: 0;
    
}
body{
    /**background: linear-gradient(to bottom, rgb(255, 255, 0), rgb(0, 255, 255)) ;**/
    background:rgb(255, 148, 119);
    background-repeat: no-repeat;
}
@font-face {
    font-family: Nunito;
    src: url(Nunito/Nunito-VariableFont_wght.ttf);
}
header{
    text-align: center;
    border: red 4px ridge;
    border-radius: 4px;
}
header h1{
    display: inline-block;
    text-decoration: solid blue;
}
.wrapper{
    margin: 0 auto 10px;
    margin-bottom: 20px;
    width: 50%;
    background-color:rgb(226, 226, 226);
    border: black;
    box-shadow: 3px 4px 10px black;
    border-radius: 6px;
}

/* @media screen and (max-width: 600px){
    .wrapper {
        width: 80%;

    
} */

.header{
    width: 50%;
    border: black;
    padding: 20px 20px;
    vertical-align: middle;
    
}

.menu{
    position:sticky;
    height: 50px;
    top: 0;
}


p {
    padding: 20px 20px;
    font-family: Nunito;
    
}
h2{
    padding: 20px 20px;
}
nav{
    width: 100%;
    height: 50px;
    background-color: #fff;
    overflow:auto;
}
ul {

}
ul li{
    list-style: none;
    display: inline-block;
    line-height: 50px;
    /* vertical-align: middle; */
    
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 14;    
    color: #1e1e1e;
    padding: 0 20px;
    transition: color .2s ease;

    
}

ul li a:hover{
    color: #9dd3dd;

    
}


ul li a img{
    display: flex; 
     display: inline-block; 
    width: 70px;
    height: 70px;
    vertical-align: middle;
    
    
    
} 
div li{
    list-style: none;
}
div li img{
    display: flex;
    width: 100px;
    height: 100px;
    padding: 0 20px;
}
.slide-card{
    display:inline-block;
    background-color: rgb(241, 196, 166);
    border-color:#1e1e1e;
    border-style: double;
    width: 33%;
    height: 200px;
    padding: 5%;
    margin:5px;
    border-radius: 5px;
    transition: transform .3s ease, color .3s ease;
}
.slide-card:hover{
    transform: scale(1.05, 1.05);
    color: aliceblue;
}
.fade-text{
    background-color: #1e1e1e;
    width: 100%;
    height: 100%;
}
/**.fade-text:hover{

    transform: scale(1.1, 1.1);
    color: aliceblue;
    transition: opacity 0.5s ease;
}**/
.new-text{
    /*width:212px;
    height:202px;*/
    width: 100%;
    height:100%;
    background-color: #9dd3dd;
    position: absolute;
    /**top: 125px;
    left:38px;**/
    display: none;
}

.content{

    background-color: white;
}
/*.footer{
    
    background-color: lightcyan;
    
}*/

/* hello */
#footerReal{
    margin-top: 2%;
    
    bottom: 0;
    /* width: 100%; */
    padding: 2%;
    background-color: rgb(182, 255, 255);
}

.menu .active-page{
    text-decoration: underline;
}

.tutor_img{
    border: 4px;
}

#header_img{
    display: inline-block;
    /* background-color: rgba(255,255,255,.3);
    margin-left: 5%;
    border: 4px solid black;
    border-radius: 7px; */

}

#header_img img{
    vertical-align: middle;
    width: 100px;
}

