* {
    /* margin: 0; */
    padding: 0;
    
}
body{
    /**background: linear-gradient(to bottom, rgb(255, 255, 0), rgb(0, 255, 255)) ;**/
    background:rgb(255, 148, 119);
    background-repeat: no-repeat;
}
@font-face {
    font-family: Nunito;
    src: url(Nunito/Nunito-VariableFont_wght.ttf);
}
header{
    text-align: center;
    border: red 4px ridge;
    border-radius: 4px;
}
header h1{
    display: inline-block;
    text-decoration: solid blue;
}
.wrapper{
    margin: 0 auto 10px;
    margin-bottom: 20px;
    width: 50%;
    background-color:rgb(226, 226, 226);
    border: black;
    box-shadow: 3px 4px 10px black;
    border-radius: 6px;
    padding: 10px;
}

.wrapper img{
    border-radius: 10px;
    border: 3px solid black;

}

/* @media screen and (max-width: 600px){
    .wrapper {
        width: 80%;

    
} */

.header{
    width: 50%;
    border: black;
    padding: 20px 20px;
    vertical-align: middle;
    
}

.menu{
    position:sticky;
    height: 50px;
    top: 0;
}


p {
    padding: 20px 20px;
    font-family: Nunito;
    
}
h2{
    padding: 20px 20px;
}
nav{
    width: 100%;
    height: 50px;
    background-color: #fff;
    overflow:auto;
}
ul {

}
ul li{
    list-style: none;
    display: inline-block;
    line-height: 50px;
    /* vertical-align: middle; */
    
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 14;    
    color: #1e1e1e;
    padding: 0 20px;
    transition: color .2s ease;

    
}

ul li a:hover{
    color: #9dd3dd;

    
}


ul li a img{
    display: flex; 
     display: inline-block; 
    width: 70px;
    height: 70px;
    vertical-align: middle;
    
    
    
} 
div li{
    list-style: none;
}
div li img{
    display: flex;
    width: 200px;
    /* height: 100px; */

}
.slide-card{
    display:inline-block;
    background-color: rgb(241, 196, 166);
    border-color:#1e1e1e;
    border-style: double;
    width: 33%;
    height: 200px;
    padding: 5%;
    margin:5px;
    border-radius: 5px;
    transition: transform .3s ease, color .3s ease;
}
.slide-card:hover{
    transform: scale(1.05, 1.05);
    color: aliceblue;
}
.fade-text{
    background-color: #1e1e1e;
    width: 100%;
    height: 100%;
}
/**.fade-text:hover{

    transform: scale(1.1, 1.1);
    color: aliceblue;
    transition: opacity 0.5s ease;
}**/
.new-text{
    /*width:212px;
    height:202px;*/
    width: 100%;
    height:100%;
    background-color: #9dd3dd;
    position: absolute;
    /**top: 125px;
    left:38px;**/
    display: none;
}

.content{

    background-color: white;
}
/*.footer{
    
    background-color: lightcyan;
    
}*/


#footerReal{
    margin-top: 2%;
    
    bottom: 0;
    /* width: 100%; */
    padding: 2%;
    background-color: rgb(182, 255, 255);
}

.menu .active-page{
    text-decoration: underline;
}

.tutor_img{
    border: 4px;
}

#header_img{
    display: inline-block;
    /* background-color: rgba(255,255,255,.3);
    margin-left: 5%;
    border: 4px solid black;
    border-radius: 7px; */

}

#header_img img{
    vertical-align: middle;
    width: 100px;
}

.cc-wrapper{
    transition: transform 0.9s ease;
}
.cc-wrapper:active{
    transform: rotateY(180deg);
}


.card-client {
    display: block;
    background: #ff4314;
    width: 350px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid rgb(255, 239, 151);
    box-shadow: 0 6px 10px rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: transform 0.3s ease, width 0.6s ease;
    margin: auto;
    margin-bottom: 25px;
  }

  
  
   .card-client:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgb(0, 0, 0)

    
  } 

  .card-client:active {
    width: 80%;
    height:70%;
    
    
  }

  .card-client:active .div, .card-client:active .p{
    display: none;
    
  }
  
  .user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 7rem;
    height: 7rem;
    border: 4px solid rgb(255, 239, 151);
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  
  
  .name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
  }
  
  .name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
  }
  
  .social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: rgb(255, 239, 151);
  }
  
  .social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .social-media a:last-child {
    margin-right: 0;
  }
  
  .social-media a svg {
    width: 1.1rem;
    fill: currentColor;
  }
  
  /*-- Tooltip Social Media --*/
  .tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
  }
  
  .tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
  
  .social-media a .tooltip-social:after {
    border-top-color: #262626;
  }
  
  .social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
  }